---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [5]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [6]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [7]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:
    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    import re
    df = pd.read_table('university_towns.txt',header = None)
    lst = []
    state = str(df.iloc[0].values)[2:-8]
    for i in range(1,len(df)):
        if '[edit]' not in str(df.iloc[i].values):
            lst.append([state,str(df.iloc[i].values)[2:-1]])
        else:
            state = str(df.iloc[i].values)[2:-8]
    df1 = pd.DataFrame(lst,columns = ['State','RegionName'])
    letter = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']

    for i in range(0,len(df1['RegionName'])):
        head, sep, tail = df1['RegionName'].iloc[i].partition(' (')
        if head[0] not in letter:
            head = head[1:]
        if head[-1] == '\'':
            head = head[:-1]
        df1['RegionName'].iloc[i] = head
    

    return df1

get_list_of_university_towns()

         State     RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...            ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]

In [18]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    gdp= pd.read_excel('gdplev.xls', skiprows= 219)
    gdp = gdp[['1999q4', 12323.3]]
    gdp = gdp.rename(columns={'1999q4':'Quarter', 12323.3:'GDP in billions'})
    for i in range(0,gdp.shape[0]-1):
        if (gdp.iloc[i-2][1]> gdp.iloc[i-1][1]) and (gdp.iloc[i-1][1]> gdp.iloc[i][1]):
            startdate= gdp.iloc[i-3][0]
    return  startdate

get_recession_start()

'2008q3'

In [19]:
import pandas as pd

def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    gdplev = pd.ExcelFile('gdplev.xls')
    gdplev = gdplev.parse("Sheet1", skiprows=219)
    gdplev = gdplev[['1999q4', 9926.1]]
    gdplev.columns = ['Quarter','GDP']
    start = get_recession_start()
    start_index = gdplev[gdplev['Quarter'] == start].index.tolist()[0]
    gdplev=gdplev.iloc[start_index:]
    for i in range(2, len(gdplev)):
        if (gdplev.iloc[i-2][1] < gdplev.iloc[i-1][1]) and (gdplev.iloc[i-1][1] < gdplev.iloc[i][1]):
            return gdplev.iloc[i][0]


get_recession_end()

'2009q4'

In [20]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    gdplev = pd.ExcelFile('gdplev.xls')
    gdplev = gdplev.parse("Sheet1", skiprows=219)
    gdplev = gdplev[['1999q4', 9926.1]]
    gdplev.columns = ['Quarter','GDP']
    start = get_recession_start()
    start_index = gdplev[gdplev['Quarter'] == start].index.tolist()[0]
    
    end= get_recession_end()
    end_index = gdplev[gdplev['Quarter'] == end].index.tolist()[0]
   
    gdp= gdplev.iloc[start_index:end_index+1]
    bottom = gdp['GDP'].min()
    bottom_index= gdp[gdp["GDP"]== bottom].index.tolist()[0]-start_index
    
    return gdp.iloc[bottom_index]['Quarter']
    
get_recession_bottom()

'2009q2'

In [22]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    df= pd.read_csv("City_Zhvi_AllHomes.csv")
    df['State'].replace(states, inplace= True)
    df= df.set_index(["State","RegionName"])
    df = df.iloc[:,49:250]
    
    def quarters(col):
        if col.endswith(("01", "02", "03")):
            s = col[:4] + "q1"
        elif col.endswith(("04", "05", "06")):
            s = col[:4] + "q2"
        elif col.endswith(("07", "08", "09")):
            s = col[:4] + "q3"
        else:
            s = col[:4] + "q4"
        return s  
    housing = df.groupby(quarters, axis = 1).mean()
    housing = housing.sort_index()
    return housing

convert_housing_data_to_quarters()

                            2000q1         2000q2         2000q3  \
State   RegionName
Alabama Adamsville    69033.333333   69166.666667   69800.000000
        Alabaster    122133.333333  123066.666667  123166.666667
        Albertville   73966.666667   72600.000000   72833.333333
        Arab          83766.666667   81566.666667   81333.333333
        Ardmore                NaN            NaN            NaN
...                            ...            ...            ...
Wyoming Burns        101533.333333  104566.666667  108366.666667
        Casper        89233.333333   89600.000000   89733.333333
        Cheyenne     116866.666667  120033.333333  121533.333333
        Evansville   128033.333333  128766.666667  130833.333333
        Pine Bluffs   93733.333333   95066.666667   94633.333333

                            2000q4         2001q1         2001q2  \
State   RegionName
Alabama Adamsville    71966.666667   73466.666667   74000.000000
        Alabaster    123700.000000  123233.333333  125133.333333
        Albertville   74200.000000   75900.000000   76000.000000
        Arab          82966.666667   84200.000000   84533.333333
        Ardmore                NaN            NaN            NaN
...                            ...            ...            ...
Wyoming Burns        113000.000000  115833.333333  117200.000000
        Casper        93166.666667   95500.000000   97633.333333
        Cheyenne     123633.333333  125533.333333  126300.000000
        Evansville   132066.666667  130566.666667  131433.333333
        Pine Bluffs   98066.666667  103233.333333  104600.000000

                            2001q3         2001q4         2002q1  \
State   RegionName
Alabama Adamsville    73333.333333   73100.000000   73333.333333
        Alabaster    127766.666667  127200.000000  127300.000000
        Albertville   72066.666667   73566.666667   76533.333333
        Arab          81666.666667   83900.000000   87266.666667
        Ardmore                NaN            NaN            NaN
...                            ...            ...            ...
Wyoming Burns        117800.000000  117633.333333  117333.333333
        Casper        99433.333333  100633.333333  101733.333333
        Cheyenne     126466.666667  128133.333333  128466.666667
        Evansville   132400.000000  133466.666667  133300.000000
        Pine Bluffs  106500.000000  104066.666667  102233.333333

                            2002q2  ...         2014q2         2014q3  \
State   RegionName                  ...
Alabama Adamsville    73133.333333  ...   77066.666667   75966.666667
        Alabaster    128000.000000  ...  147133.333333  147633.333333
        Albertville   76366.666667  ...   84033.333333   84766.666667
        Arab          87700.000000  ...  113366.666667  111700.000000
        Ardmore                NaN  ...  140533.333333  139566.666667
...                            ...  ...            ...            ...
Wyoming Burns        117233.333333  ...  168866.666667  161933.333333
        Casper       101533.333333  ...  175766.666667  177300.000000
        Cheyenne     129633.333333  ...  177466.666667  176733.333333
        Evansville   131066.666667  ...  296733.333333  305666.666667
        Pine Bluffs  103566.666667  ...  148666.666667  154366.666667

                            2014q4         2015q1         2015q2  \
State   RegionName
Alabama Adamsville    71900.000000   71666.666667   73033.333333
        Alabaster    148700.000000  148900.000000  149566.666667
        Albertville   86800.000000   88466.666667   89500.000000
        Arab         111600.000000  110166.666667  109433.333333
        Ardmore      140900.000000  143233.333333  143000.000000
...                            ...            ...            ...
Wyoming Burns        160433.333333  162600.000000  163066.666667
        Casper       181000.000000  182066.666667  182633.333333
        Cheyenne     178766.666667  181700.000000  183266.666667
        Evansville   309500.000000  307300.000000  303166.666667
        Pine Bluffs  158100.000000  163900.000000  167433.333333

                            2015q3         2015q4         2016q1  \
State   RegionName
Alabama Adamsville    73933.333333   73866.666667   74166.666667
        Alabaster    150366.666667  151733.333333  153466.666667
        Albertville   90233.333333   91366.666667   92000.000000
        Arab         110900.000000  112233.333333  110033.333333
        Ardmore      144600.000000  143966.666667  142566.666667
...                            ...            ...            ...
Wyoming Burns        164600.000000  164300.000000  168266.666667
        Casper       183300.000000  182700.000000  184333.333333
        Cheyenne     186766.666667  190666.666667  194433.333333
        Evansville   300966.666667  304200.000000  309433.333333
        Pine Bluffs  167466.666667  169200.000000  166833.333333

                            2016q2    2016q3
State   RegionName
Alabama Adamsville    74933.333333   74700.0
        Alabaster    155100.000000  155850.0
        Albertville   92466.666667   92200.0
        Arab         110100.000000  112000.0
        Ardmore      143233.333333  141950.0
...                            ...       ...
Wyoming Burns        171600.000000  170500.0
        Casper       185166.666667  184350.0
        Cheyenne     196500.000000  199100.0
        Evansville   309200.000000  309050.0
        Pine Bluffs  163800.000000  157650.0

[10730 rows x 67 columns]

In [23]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
     
    towns = get_list_of_university_towns()
    startdate = get_recession_start()
    bottomdate = get_recession_bottom()
    houses = convert_housing_data_to_quarters()
    
    houses = houses.reset_index()
    houses['recession_diff'] = houses[startdate] - houses[bottomdate]
    
    towns_houses = pd.merge(houses, towns, how='inner', on=['State', 'RegionName'])
    towns_houses['ctown'] = True
    houses = pd.merge(houses, towns_houses, how='outer', on = ['State', 'RegionName',
                                                              bottomdate, startdate, 
                                                              'recession_diff'])
    houses['ctown'] = houses['ctown'].fillna(False)
    unitowns = houses[houses['ctown'] == True]
    not_unitowns = houses[houses['ctown'] == False]
    
    t, p = ttest_ind(unitowns['recession_diff'].dropna(), not_unitowns['recession_diff'].dropna())
    different = True if p < 0.01 else False
    betters = "university town" if unitowns['recession_diff'].mean() < not_unitowns['recession_diff'].mean() else "non-university town"
    
    return different,p,betters

run_ttest()

(True, 0.004325214853511201, 'university town')